#audio {
    list-style-type: none;
}

#audio li {
    border: 1px solid #bbb;
    margin: 10px;
    padding: 5px;
    background-image: url('/images/background.jpg');
}

#audio li.list {
    height: 130px;
}

#audio li.single {
    height: 214px;
}

#audio div {
    margin: 2px;
}

#audio span.title {
    font-variant: small-caps;
}

#audio div.link a {
    font-variant: small-caps;
}

#audio div {
    text-align: justify;
}

#audio .cover {
    float: left;
}

#audio .rest {
    margin-left: 30px;
    float: left;
    width: 500px;
}

/* premiumbeat flashPlayer */

#flashPlayer {
    width: 300px;
    height: 210px;
    float: right;
}
